button {
  padding: 12px 20px;
  border: 1px solid #6366f1;
  background-color: #241f23;
  color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 10px;
}

button:hover {
  background-color: #6366f1;
}
body {
  background-color: #191b1f;
}
input:focus {
  border: 0;
  outline: none;
}
body::-webkit-scrollbar-thumb {
  background-color: white;
}
#seeEtherscan {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
